.App{
  display: flex;
  justify-content: center;
  height: 100%;

}

.todo-container{
  width: 30%;
  margin: 100px 0px;
  background-color:#ffc0cb;
  border-radius: 15px;
  min-height:500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.todo-container>form{
  display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 100%;
}

.todo-container>form>input{
  height: 25px;
  width: 70%;
  border: none;
  background-color: #ffc0cb;
  border-bottom: 2px solid black ;
  outline: none;
  caret-color: white;
}

.todo-container>form>input::placeholder {
  color: rgb(45, 44, 44);
}

/* .add-button{
  position: relative;
} */



